*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}

.logo {
    height: 13vh;
    margin-left: 5vw;
}

.nav-item {
    display: flex;
    margin-right: 4vw;
}

.nav-link {
    display: flex;
    list-style: none;
}

.nav-link a {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-link a:hover {
    color: #26CC00;
}


.who-we-are {
    width: 100%;
    height: 100vh;
    background: url('../images/hero.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center; 
    color: white;
}

.who-we-are::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 20, 40, 0.55); 
}

.who-text {
    position: relative;
    max-width: 550px;
    z-index: 2;
}

.who-text h2 {
    font-size: 50px;
    font-weight: 700;
    color: #6BFF4B;
    margin-bottom: 20px;
}

.who-text p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 15px;
    
}



.mission {
    padding: 4rem 2rem;
    text-align: center;
}

.mission h2 {
    font-size: 2.5rem;
    color: #26CC00;
}

.mission p {
    font-size: 1.3rem;
    color: #333;
    max-width: 800px;
    margin: auto;
    margin-top: 1rem;
}

.choose {
    padding: 4rem 2rem;
    text-align: center;
}

.choose h2 {
    font-size: 2.5rem;
    color: #26CC00;
    margin-bottom: 2rem;
}

.choose-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    width: 250px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #F5F5F5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card i {
    font-size: 2.5rem;
    color: #26CC00;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    color: #333;
}


.footer-bottom {
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-top: 3px solid #26CC00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    color: #26CC00;
}

.footer-social a {
    color: #333;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.footer-social a:hover {
    color: #26CC00;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .choose-box {
        flex-direction: column;
        align-items: center;
    }

    .about-who {
        text-align: center;
    }

    .who-content {
        margin-left: 0;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}