
h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.work-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.5rem; 
    margin-bottom: 5vh;
}

.work {
    width: 90%; 
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.work h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.work p {
    font-size: 1rem;
    color: #555;
    margin: 0 1rem;
}

.work a {
    padding: 0.4rem 1rem;
    background: rgb(55, 55, 195);
    color: #fff;
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.work a:hover {
    background: blue;
}

@media (max-width: 768px) {
    .work {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .work p {
        margin: 0;
    }

    .work a {
        width: 100%;
        margin-top: 0.5rem;
    }
}
