* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styling */
.booking-container {
    background: #ffffff;
    width: 30vw;
    margin-top: 0.5vh;
    padding: 1.6rem;
    border-radius: 0.65rem;
    box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.1);
}

/* Title styling */
.booking-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.5rem;
}

/* Section Styling */
.section {
    margin-bottom: 1.6rem;
    padding: 1rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

.section h3 {
    margin-bottom: 1rem;
    color: #007bff;
    font-size: 1rem;
    border-bottom: 0.06rem solid #ddd;
    padding-bottom: 0.3rem;
}

/* Form styling */
.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 0.65rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.4rem;
    font-size: 0.875rem;
}

.form-group textarea {
    resize: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
}

/* Button */
.book-btn{
    display: flex;
    justify-content: center;
}
.btn {
    width: 80%;
    padding: 0.7rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}
