body {
    margin: 0;
    background: #f4f6fa;
    font-family: Arial, sans-serif;
}


.simple-nav {
    background: white;
    padding: 18px 30px;
    border-bottom: 2px solid #e6e6e6;
}

.simple-nav .logo {
    font-size: 22px;
    font-weight: 700;
    color: #32CD32;
}


.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 40px;
    padding: 50px;
}


.left-section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.left-title {
    font-size: 28px;
    color: #32CD32;
    margin-bottom: 30px;
}

.info-grid {
    display: grid;
    gap: 20px;
}

.info-box {
    border: 2px solid #32CD32;
    padding: 18px;
    border-radius: 8px;
}

.info-box i {
    font-size: 26px;
    color: #32CD32;
}

.info-box h3 {
    color: #32CD32;
    margin: 8px 0;
}

.info-box p {
    color: #444;
}
.right-section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.right-title {
    font-size: 28px;
    color: #32CD32;
    margin-bottom: 25px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.two-input {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border: 2px solid #32CD32;
    border-radius: 6px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 140px;
}

.submit-btn {
    background: #32CD32;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    width: 150px;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.submit-btn:hover {
    background: #28a428;
}