body {
    margin: 0;
    background: #f4f6fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.simple-nav .logo {
    font-size: 22px;
    font-weight: 700;
    color: #32CD32;
}

.contact-wrapper {
    width: 60vw;
    display: grid;
    gap: 40px;
    padding: 50px;
}


.contact-section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-title {
    font-size: 28px;
    color: #32CD32;
    margin-bottom: 30px;
}

.info-grid {
    width: 60vw;
    display: grid;
    gap: 20px;
}

.info-box {
    border: 2px solid #32CD32;
    padding: 18px;
    border-radius: 8px;
}

.info-box i {
    font-size: 26px;
    color: #32CD32;
}

.info-box h3 {
    color: #32CD32;
    margin: 8px 0;
}

.info-box p {
    color: #444;
}