
.container{ 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 31vw;
    background-color: beige;
    border-radius: 0.5rem;
    box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.2);

}

header{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.form-group{
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin-bottom: 0.2rem;
}
input{
    width: 22vw;
    height: 2vh;
    padding: 0.5rem;
    border: 0.5px solid  #5E4B3C;
    border-radius: 0.6rem;
    outline: none;
}

.small-text{
    display: flex;
    justify-content: center;
}

#submit-btn {
    height: 4vh;
    width: 15vw;
    margin-top: 1.5rem;
    color: white;
    font-size: medium;
    background-color: green;
    border: none;
    border-radius: 0.2rem;
}