body {
    background-color: white;
}

/*for sidebar*/
.sidebar {
    height: 100vh;
    width: 18vw;
    background-color: #e9c758;
    color: white;
    position: fixed;
}

.sidebar .header {
    height: 10vh;
    background-color: #556655;
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    text-align: left;
}

.sidebar .header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0.9rem 1rem;
    font-size: 1.2rem;
    color: #111;
    font-weight: 600;
}

.sidebar ul a{
    text-decoration:none;
}

.sidebar ul li i {
    font-size: 1.2rem;
    color: #222;
}

.sidebar ul li:hover {
    background-color: #547654;
    color: #fff;
}

.sidebar ul li:hover i {
    color: #fff;
}