h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0rem;
}

.electrician-type {
    width: 100%; 
    margin: 5vh 0;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
}

.ele-service {
    height: 11vh; 
    width: 80%;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ele-service h4, 
.ele-service p, 
.ele-service a {
    flex: 1;
    margin: 0;
}

.ele-service h4 {
    text-align: left;
}

.ele-service p {
    text-align: center;
    font-weight: 500;
    color: #555;
}

.ele-service a {
    display: flex; 
    align-items: center;
    justify-content: center;
    max-width: 7rem; 
    margin-left: auto; 
    height: 5vh;
    background: linear-gradient(135deg, #0a930a, #4caf50);
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}