body {
    height: 100vh;
    display: flex;
    background-color: rgb(248, 245, 245);
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box {
    background: white;
    padding: 2.5rem 3.125rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 45vh;
    width: 22vw;
    text-align: center;
}

header {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: serif;
    margin-bottom: 25px;
    color: black;
}

.field-input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.field-input label {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-weight: 500;
    color: black;
}

.field-input input {
    padding: 0.5rem;
    border: 0.5px solid  #5E4B3C;
    border-radius: 0.6rem;
    outline: none;
}

#submit {
    margin-top: 1rem;
}

.button {
    width: 12vw;
    font-size: 1.1rem;
    color: #fff;
    background-color: rgb(60, 60, 191);
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem;
}

.button:hover{
    background-color: green;
}

.links {
    font-size: 1.1rem;
    margin-top: 0.8rem;
}