* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 13vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 20px #3C3C3C;
}

.logo {
  height: 13vh;
  width: auto;
  margin-left: 5vw;
}

/* Navigation Items */
.nav-item {
  display: flex;
  margin-right: 4vw;
}

.nav-link,
.auth-link {
  display: flex;
  align-items: center;
  list-style: none;
}

.auth-link {
  margin-left: 2rem;
}

.nav-link a,
.auth-link a {
  font-size: 1.25rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.nav-link a:hover {
  border-bottom: 0.13rem solid black;
  color: green;
}

#menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .auth-link {
    position: absolute;
    top: 13vh;
    left: 2vw;
    right: 0;
    z-index: 10;
  }

  .nav-link {
    position: absolute;
    top: 18vh;
    left: 2vw;
    right: 0;
    flex-direction: column;
    z-index: 10;
  }

  #menu {
    display: block;
  }
}
