* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(248, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 35vw;
    max-width: 500px;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.details h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: serif;
    text-align: center;
    margin-bottom: 1rem;
}

.details p {
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: rgb(30, 30, 30);
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.95rem;
}

select {
    width: 100%;
    padding: 0.5rem 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.95rem;
}

.button-container {
    text-align: center;
    margin-top: 2rem;
}

button {
    width: 80%;
    padding: 0.6rem;
    background-color: rgb(60, 60, 191);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #45a049;
}