/* For Container */
.professional-container {
    margin-left: 18vw;
    font-family: Arial, sans-serif;
}

/* Page Top*/
.page-top {
    height: 10vh;
    width: 100%;
    background-color: #e9c758;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.page-top p{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;;
}

.professional-content{
    padding: 2rem;
}

/* Content Top (Search, Status, Add Button) */
.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.search input,
.status select {
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    outline: none;
}

.add-professional button {
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 0.3rem;
    background: rgb(55, 55, 195);
    cursor: pointer;
    font-weight: bold;
}

/* User Table */
.professional-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.professional-table th,
.professional-table td {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    text-align: left;
}

.professional-table thead {
    background-color: #e9c758;
    font-weight: bold;
}

.professional-table tbody tr:hover {
    background-color: #f1f1f1;
}

e.professional-table td i {
    margin-right: 0.5rem;
}

.edit a {
    text-decoration:none;
}

/* Pagination Container */
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

/* Pagination Links */
.pagination a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Hover Effect */
.pagination a:hover {
    background: rgb(55, 55, 195);
    color: #fff;
    border-color: #007bff;
}

/* Active Page */
.pagination a.active {
    background: rgb(55, 55, 195);
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
    cursor: default;
}


@media (max-width: 768px) {
    .user-container {
        margin-left: 0;
        padding: 1rem;
    }

    .content-top {
        flex-direction: column;
        align-items: flex-start;
    }
}