* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #f4f6f8;
}

body {
    padding-top: 13vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.header button {
    background-color: #1d4ed8;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.header button a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header button:hover {
    background-color: #2563eb;
}

/* Table wrapper */
.table-container {
    padding: 30px 40px;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}

thead {
    background-color: #26CC00 ;
}

thead th {
    color: #fff;
    padding: 12px;
    text-align: left;
    font-size: 13px;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    color: #333;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

/* Status styles */
.status-pending {
    color: #e67e22;
    font-weight: bold;
}

.status-completed {
    color: #27ae60;
    font-weight: bold;
}

.status-cancelled {
    color: #c0392b;
    font-weight: bold;
}

/* Action button */
.action-btn {
    background-color: #1d4ed8;
    border: none;
    padding: 6px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.action-btn:hover {
    background-color: #2563eb;
}

@media (max-width: 1024px) {
    table {
        min-width: 1000px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .table-container {
        padding: 20px;
    }
}