.form-box{
    height: 100vh;
    width: 100%;
    background-color: rgb(248, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-type{
    height: 50vh;
    width: 25vw;
    background-color: white;
    border-radius: 0.7rem; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

header{
    height: 10vh;
    width: 100%;
    font-family: serif;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click{
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;   
}

.click a button{
    height: 5vh;
    width: 13vw;
    color: white;
    background-color: rgb(60, 60, 191);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
}

.click button:hover{
    background-color:green;
}