/*main section*/
main {
    height: auto;
    width: 90vw;
    margin: 2rem auto;
}

.book-header {
    text-align: center;
    margin: 1rem 0;
}

.book-header h2 {
    font-size: 1.8rem;
    display: inline-block;
    transition: color 0.3s ease;
}

.book-header h2:hover {
    color: rgb(14, 123, 14);
}

section {
    height: 62vh;
    display: flex;
    gap: 2vh;
    overflow-x: auto;
    padding: 20px 10px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* Hide scrollbar */
section::-webkit-scrollbar {
    display: none;
}
section {
    scrollbar-width: none;
}

article {
    flex: 0 0 auto;
    width: 21.7vw;
    height: 55vh;
    background: #ffffff;
    padding: 1.7rem;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(50, 50, 50, 0.1);
    transition: transform 0.4s ease;
    scroll-snap-align: start;

    display: flex;           /* added to align button */
    flex-direction: column;  /* stack content vertically */
}

article:hover {
    transform: translateY(-8px);
}

article h3 {
    color: #0bc40b;
    font-size: 1.4rem;
    margin-bottom: 0.9rem;
}

article p {
    font-size: 1rem;
    color: #555;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

ul li::before {
    content: "✓";
    position: absolute;
    left: 0;
    color: #0bc40b;
    font-weight: bold;
}

/* Button fixed at bottom */
article a {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    align-self: center;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(55, 55, 195);
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

article a:hover {
    opacity: 0.85;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #0bc40b;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover {
    text-decoration: underline;
}


/* Slider Buttons */
.slider-buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-top: 10px;
}

.slider-buttons button {
    padding: 8px 16px;
    background: rgb(55, 55, 195);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.slider-buttons button:hover {
    background-color: blue;
}
