* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 13vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 20px #3C3C3C;
}

.logo {
    height: 13vh;
    width: auto;
    margin-left: 5vw;
}

/* Navigation Items */
.nav-item {
    display: flex;
    margin-right: 4vw;
}

.nav-link,
.auth-link {
    display: flex;
    align-items: center;
    list-style: none;
}

.auth-link {
    margin-left: 2rem;
}

.nav-link a,
.auth-link a {
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.nav-link a:hover {
    border-bottom: 0.13rem solid black;
    color: green;
}

#menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .auth-link {
        position: absolute;
        top: 13vh;
        left: 2vw;
        right: 0;
        z-index: 10;
    }

    .nav-link {
        position: absolute;
        top: 18vh;
        left: 2vw;
        right: 0;
        flex-direction: column;
        z-index: 10;
    }

    #menu {
        display: block;
    }
}

main {
    height: auto;
    width: 100%;
    margin-top: 13vh;
}

.hero {
    height: 87vh;
    width: 100%;
    background: url(photos/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}

.info {
    height: 87vh;
    width: 45%;
    text-align: right;
    padding-right: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    font-family: Lato;
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

.info h2 {
    font-size: 1.4rem;
    color: #AEEEEE;
    margin-left: 16vh;
}

.hi {
    margin-top: 5vh;
    margin-left: 12vw;
}

/*service section*/
#sev-section {
    color: #26CC00;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    padding: 1vh;
}

.services {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.services .service {
    height: 40vh;
    width: 17vw;
    background-color: #ECECEC;
    margin: 0 1vw;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    height: 26vh;
    width: 17vw;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.service p {
    color: #26CC00;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1vh;
    text-align: center;
}

#plumber {
    background: url(photos/plumber\ photo.jpeg);
    background-size: cover;
}

#electrician {
    background: url(photos/electrician\ photo.jpeg);
    background-size: cover;
}

#cleaner {
    background: url(photos/cleaner\ photo.jpeg);
    background-size: cover;
}

#painter {
    background: url(photos/painter\ photo.jpeg);
    background-size: cover;
}

#com-technician {
    background: url(photos/technician\ photo.jpg);
    background-size: cover;
}

#book {
    height: 6vh;
    width: 17vw;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#book a {
    height: 5vh;
    width: 12vw;
    color: white;
    background-color: #26CC00;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
}
.comment{
    height: 45vh;
    width: 100%;
    color: white;
    font-size: 3rem;
    background-color: #4D4D4D;
    text-align: center;
}   

footer{
    height: 40vh;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: #1E1E1E;
}