.form-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-type{
    height: 50vh;
    width: 25vw;
    background-color: beige;
    border-radius: 0.7rem; 
    box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}

header{
    height: 10vh;
    width: 100%;
    font-family: serif;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click{
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;   
}

.click a button{
    height: 5vh;
    width: 13vw;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: green;
    border: none;
    border-radius: 0.5rem;
}